.side-nav-container {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  transition: transform 0.3s ease;
}
.side-nav-container.closed {
  transform: translateX(-100%);
}
.side-nav-menu{
  display: flex;
  flex-direction: column;
}

.menu-option {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  font-size: 18px;
}
.menu-option:hover {
  text-decoration: underline;
}
.menu-option.active {
  font-weight: bold;
}