.main-layout {
  display: flex;
  height: 100%;
}
.side-nav {
  width: 290px;
  top: 0;
  left: 0;
  // background-color: #2c3e50;
  color: white;
}
.side-nav.closed {
  display: none;
}
.main-content {
  // width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.main-content.expanded {
}