.main-layout {
  display: flex;
  height: 100%;
}
.side-nav {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
}
.side-nav.closed {
  display: none;
}
.main-content {
  background-color:aqua;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-content.expanded {
}